<%= form_for @pipe, :html => { :multipart => true } do |f| %>
	<%= render 'shared/errors', object: @pipe %>
	<fieldset>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name, autofocus: true %>
		</p>

		<%= fields_for :images_file do |img| %>
		<p>
			<%= img.label :url, 'Image Filename' %>
			<%= img.file_field :url, multiple: true %>
		</p>
		<p>
			<% if @pipe.images.any? %>
				<%= img.label :url, 'Images' %>
				<% @pipe.images.each do |image| %>
					<%= image_tag image.file_url(:thumb) %>
					<%= img.file_field :url %>
				<% end %>
			<% end %>
		</p>
		<% end %>
		<p>
			<%= f.submit %>
			<%= link_to 'Cancel', root_path %>
		</p>
	</fieldset>
<% end %>
