<div class="flex-wrap">
<%= div_for pipe do %>
	<h3><%= link_to pipe.name.upcase, pipe %></h3>
		<div class="flexslider <%= pipe.approved %>">
			<ul class="slides">
				<% pipe.images.each do |img| %>
					<li>
						<% if img.image? %>
						  <%= image_tag(img.image_url) %>
						<% else %>
						  <%= image_tag img.url %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
		<%= form_for pipe, html: {class: 'comment-form' }, remote: true do |f| %>
				<%= f.text_area :comments, rows: 4 %>
				<%= f.submit "Save\n Comments" %>
		<% end %>
		<%= link_to approve_text(pipe), approve_pipe_path(pipe), remote: true, method: 'PUT', class: "#{approve_text(pipe)} toggle" %>
<% end %>
</div>