<!DOCTYPE html>
<html>
<head>
  <title>Pipetrack</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/flashes' %>
	<div id="main-wrapper">
		<h1 id="logo"><%= link_to 'iBriar Pipes Proofing', root_path %></h1>

		<%= yield %>
	</div>
</body>
</html>
